.section {
  background-color: lemonchiffon;
}

.headers {
  color: darkblue;
}

#email {
  background-color: goldenrod;
}

#github {
  background-color: lightsteelblue;
}

#portfolio {
  background-color: darkorange;
}

.p {
  size: 24px;
  color: red;
}

.img {
  width: 200px;
  height: 200px;
}

.ul {
  size: 24px;
}
