header {
  width: 100%;
  background-color: lightblue;
}

h2 {
  text-align: left;
}

ul {
  text-align: right;
  color: #ffffff;
}

/* List items in navigation bar */
li {
  /* TODO: Add your code here */
  list-style-type: none;
  font-size: 40px;
}

/* Boxes */
img {
  /* TODO: Add your code here */
  margin: 0 auto;
  width: 20%;
}

#item-1 {
  background-color: #e0115f;
  display: inline-block;
}

#item-2 {
  background-color: #0000ff;
  display: inline-block;
}

#item-3 {
  background-color: #999900;
  display: inline-block;
}

* Box 1 */ #image-1 {
  /* TODO: Add your code here */
  display: list-item;
  display: inline-block;
}

* Box 2 */ #image-2 {
  /* TODO: Add your code here */
  display: list-item;
  display: inline-block;
}

/* Box 3 */
#image-3 {
  /* TODO: Add your code here */
  display: list-item;
}

.middle-column {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.middle-column div {
  flex-grow: 1;
  margin: 0 8px;
  border: solid 1px red;
}

.middle-column div + div {
  margin-top: 8px;
}
