{{#if loggedIn }}
  {{> privateNavbar}}
{{else}}
  {{> publicNavbar}}
{{/if }}
<main>
  {{> banner}}
  <div class="d-flex flex-row justify-content-around flex-wrap">
    {{#each projects as | project |}}
      {{> projectCard}}
    {{/each}}
  </div>
</main>