.user-item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  border: 1px solid #5c5c5c;
  padding: 20px;
  font-size: 18px;
  margin-bottom: 8px;
}

.user-item a {
  text-decoration: none;
  color: #000;
}
