h1 {
  color: red;
}

p {
  color: green;
}
/* all <p> tags green */
p,
li {
  color: green;
}
/* all <p> and <li> tags green */
h1 + p {
  font-size: 200%;
}
/* h1 and p tags same increase in font size */
