<div class="dish-card">
  <div class="dish-card-header">
    Something went wrong
  </div>
  <div class="card-body">
    We are working on fixing the error and thank you for your patience.
  </div>
</div>