body {
  margin: 0;
  line-height: 1.6;
  font-family: sans-serif;
}

.header {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  max-height: 66px;
  background-color: #073b4c;
  padding: 20px;
  z-index: 2;
}

/* nav style properties */
.nav-item {
  display: inline-block;
  margin: 0px 20px;
  border-bottom: 1px solid #06d6a0;
  padding-bottom: 4px;
}

.nav-link {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 2px;
  font-size: 18px;
}

.main {
  margin-top: 80px;
}

#about-us,
#contact-us {
  text-align: center;
}

.title {
  padding: 20px;
  text-transform: uppercase;
  text-decoration: underline;
}

/* banner image style properties */
.banner-img {
  width: 75%;
}

.caption {
  padding: 16px;
  font-size: 14px;
  letter-spacing: 2px;
}

.content {
  font-size: 18px;
  padding: 20px;
  text-align: justify;
  margin: 0px 15%;
}

/* form style properties */
.contact-form {
  margin: 0px 15%;
  background-color: #ffd166;
  padding: 20px;
  border-radius: 8px;
}

.form-control {
  padding: 10px 0px;
}

.form-label {
  margin-right: 16px;
  width: 100px;
  display: inline-block;
  text-align: left;
}

.form-input {
  padding: 10px;
}

.btn {
  min-width: 200px;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #ef476f;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.footer {
  background-color: #073b4c;
  margin-top: 40px;
  width: 100%;
  font-size: 14px;
  text-align: center;
  padding: 20px 0px;
  color: #06d6a0;
}
