<header>
  {{> public-navbar}}
</header>
<main class='container'>
  <div class="mx-auto my-4">
    <h1 class="text-center">Sign Up Form</h1>
    <hr />
    <form id='signup-form' class="p-4">
      <div class='mb-3'>
        <label for='username-input' class='form-label'>Username</label>
        <input type='text' class='form-control' id='username-input' />
      </div>
      <div class='mb-3'>
        <label for='email-input' class='form-label'>Email address</label>
        <input type='email' class='form-control' id='email-input' />
      </div>
      <div class='mb-3'>
        <label for='password-input' class='form-label'>Password</label>
        <input type='password' class='form-control' id='password-input' />
      </div>
      <div class='mb-3'>
        <label for='confirm-password-input' class='form-label'>Confirm Password</label>
        <input type='password' class='form-control' id='confirm-password-input' />
      </div>
      <div class='mb-3'>
        <label for='first-name' class='form-label'>First Name</label>
        <input type='text' class='form-control' id='first-name' />
      </div>
      <div class='mb-3'>
        <label for='last-name' class='form-label'>Last Name</label>
        <input type='text' class='form-control' id='last-name' />
      </div>
      <button type='submit' class='btn btn-primary'>Create Account</button>
    </form>
  </div>
</main>