body {
  font-family: 'Dancing Script', cursive;
  font-family: 'Roboto', sans-serif;
}

.search-container {
  width: 75%;
}

@media screen and (max-width: 576px) {
  .search-container {
    width: 90%;
  }
}
