body {
  margin: 0;
}

.header {
  width: 100%;
  background-color: lightblue;
}

.header h2 {
  display: inline-block;
  text-align: left;
}

.header ul {
  text-align: right;
  color: #ffffff;
}

.header ul li {
  display: inline;
  list-style-type: none;
  font-size: 40px;
}

#item-1 {
  background-color: #e0115f;
}

#item-2 {
  background-color: #0000ff;
}

#item-3 {
  background-color: #999900;
}

.boxes img {
  display: block;
  margin: 0 auto;
}
