:root {
  --rich-black-fogra-29: #021419ff;
  --kombu-green: #38493cff;
  --dark-jungle-green: #14211fff;
  --black-chocolate: #101410ff;
  --olive-drab-7: #332e12ff;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  margin: 0;
  font-family: 'Dancing Script', cursive;
  font-family: 'Josefin Sans', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 1.6;
  background-color: var(--dark-jungle-green);
  min-height: 100vh;
  font-size: 1.6rem;
  color: #fff;
}

.header-container {
  text-align: center;
  margin: 0 15rem;
}

.title {
  display: inline-block;
  letter-spacing: 0.5rem;
  font-size: 3.5rem;
}

.cards-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0 5rem;
}

.css-card {
  border: 1px solid white;
  width: 30rem;
  padding: 1rem;
  position: relative;
  margin: 4rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0.4rem;
}

.card-title {
  display: inline-block;
  position: relative;
  top: -5rem;
  width: 80%;
  text-align: center;
  background-color: var(--kombu-green);
  border: 1px solid white;
  border-radius: 0.8rem;
  transition: all 0.75s ease-in-out;
}

.card-content {
  margin-top: -3rem;
  font-size: 1.4rem;
  text-align: justify;
}

pre {
  white-space: pre-wrap;
  overflow: auto;
  font-size: 1.2rem;
  padding: 1rem;
  border-radius: 0.4rem;
  background: linear-gradient(
    -45deg,
    rgba(16, 20, 16) 0%,
    rgba(56, 73, 60) 30%
  );
}

pre:active {
  user-select: all;
}

footer {
  text-align: center;
}

@media screen and (max-width: 768px) {
  .header-container {
    margin: 0 2rem;
  }
}

@media screen and (max-width: 768px) {
  .header-container {
    margin: 0 2rem;
  }
  .cards-container {
    margin: 0 1rem;
  }
}
