:root {
  --charcoal: #264653ff;
  --persian-green: #2a9d8fff;
  --orange-yellow-crayola: #e9c46aff;
  --sandy-brown: #f4a261ff;
  --burnt-sienna: #e76f51ff;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Dancing Script', cursive;
  font-family: 'Josefin Sans', sans-serif;
  font-family: 'Roboto', sans-serif;
  line-height: 1.2;
  letter-spacing: 2px;
}

.header {
  text-align: center;
  padding: 30px 10px;
  background-color: var(--charcoal);
  color: var(--orange-yellow-crayola);
}

.main {
  margin: 20px 10px;
  padding: 40px 20px;
}

.start-container {
  text-align: center;
}

.btn {
  padding: 20px;
  border-radius: 4px;
  border: none;
  background-color: var(--sandy-brown);
  color: var(--charcoal);
  text-transform: uppercase;
  font-weight: 600;
}

.btn:hover {
  color: #fff;
  cursor: pointer;
}

.word-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 30px 10px;
}

.letter {
  width: 50px;
  height: 50px;
  margin: 5px;
  padding: 15px;
  border: 1px solid var(--charcoal);
  text-align: center;
  font-size: 24px;
  font-weight: 600;
}

.timer {
  text-align: center;
}

.timer span {
  color: var(--burnt-sienna);
}

.game-container {
  text-align: center;
  font-size: 32px;
  text-transform: uppercase;
}

.letters-container h3 {
  text-align: center;
}

.letters-list {
  list-style: none;
  border: 1px solid black;
  padding: 20px;
  background-color: var(--charcoal);
  color: var(--orange-yellow-crayola);
  font-size: 20px;
}

.letters-list li {
  padding: 10px;
}
