.section {
  width: 200px;
  height: 100px;
}

.section-blue {
}

.container {
  background-color: black;
}

#section-1 {
  background-color: purple;
  color: yellow;
  width: 200px;
  height: 100px;
}

#section-2 {
  background-color: blue;
  color: orange;
  width: 200px;
  height: 100px;
}

#section-3 {
  background-color: blue;
  color: orange;
  width: 200px;
  height: 100px;
}

#section-4 {
  color: white;
  width: 200px;
  height: 100px;
}

#section-5 {
  color: white;
  width: 200px;
  height: 100px;
}

#section-6 {
  color: yellow;
  width: 200px;
  height: 100px;
}
