/* universal selector which targets all elements on the page */
* {
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
}

/* element selector which targets the element by name (body) */
body {
  background-color: lemonchiffon;
}

/* grouping element selectors (header and footer)  */
header,
footer {
  width: 100%;
  height: 100px;
  line-height: 100px;
  color: #f0ead6;
  background-color: #191970;
}

/* element selector for the figure element */
figure {
  width: 200px;
  background-color: #f0ead6;
}

/* class selector which is applied to all elements with the class name of "highlighted-text" */
.highlighted-text {
  font-weight: bolder;
}

/* id selector which is applied to all elements with the id value of "contact-section" */
#contact-section {
  background-color: #f0ead6;
}
