<div class="dish-card">
  <div class="dish-card-header">
    {{dish_name}}
  </div>
  <div class="card-body">
    <p>
      Description:
      {{description}}
    </p>
    {{#if has_nuts}}
      <p>Contains Nuts</p>
    {{/if}}
  </div>
</div>