/* class selector where class name of element should be section */
.section {
  background-color: lemonchiffon;
}

/* class selector where class name of element should be headers */
.headers {
  color: darkblue;
}

/* id selector where the id of element should be email */
#email {
  background-color: goldenrod;
}

/* id selector where the id of element should be github */
#github {
  background-color: lightsteelblue;
}

/* id selector where the id of element should be portfolio */
#portfolio {
  background-color: darkorange;
}
