* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.section {
  width: 600px;
  height: 600px;
  text-align: center;
  border: 15px solid black;
  margin: 0 auto;
}

.section img {
  width: 200px;
  height: 200px;
  background-color: lightblue;
  padding: 20px;
  border: 5px solid darkblue;
  margin: 40px;
}
